doctype
html
  head
    title AM Benchmarks
  body
    h1 AM Benchmarks
    h3 HOKAY, time to get some numbers
    p
      | Hit up the ol' address bar up there with one of these spicy meatballs:
      div: a(href='/classes/http://getbootstrap.com') /classes/http://getbootstrap.com
      div: a(href='/attributes/http://getbootstrap.com') /attributes/http://getbootstrap.com
      div: a(href='/values/http://getbootstrap.com') /values/http://getbootstrap.com
    p
      | And then run whatever performance tests you like. Hopefully you can grok how to run it on a site of your choosing.
    p
      = "What's this doing, you ask? Cop a squiz at this project's "
      a(href='https://github.com/amcss/am-benchmarks') homepage
      = " and "
      em literally
      |  all your questions will be answered.
